:root {
  --primary: #539592;
  --secondary: #fcfbff;
  --white: #ffffff;
  --gray: #aeafae;
  --medium-gray: #f1f2f3;
  --dark-gray: #6b6a6a;
  --light-gray: #fafafb;
  --orange: #ff9050;
  --double-quote: ##efedf3;
  --dark-green: #2b312e;
  --footer-color: #192e46;
  --primary-font: Lato, sans-serif;
  --secondary-font: Lora, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--primary-font);
}

.btn {
  width: 34rem;
  height: 6rem;
  outline: none;
  border: none;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: var(--primary);
  }

  &--subscribe {
    width: 16rem;
    height: 5rem;
    position: absolute;
    right: 3.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
}

.container {
  padding: 3rem 5rem;
  margin: 0 auto;
  max-width: 120rem;
}

.header {
  padding: 3rem 0;
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 3.6rem;
    width: 3.6rem;
  }

  &__list {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
  }

  &__item {
    position: relative;
    color: var(--white);

    &:hover {
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-right: 6rem;
    }

    &:nth-child(5) {
      &::after {
        content: '';
        background: var(--white);
        position: absolute;
        height: 5rem;
        right: -50%;
        top: -50%;
        width: 0.1rem;
      }
    }
  }

  &__hero {
    display: grid;
    column-gap: 30rem;
    margin-top: 8.9rem;
    grid-template-columns: repeat(2, 1fr);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 63rem;
      background-image: url('../images/hero-img-1.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 63rem;
      background-color: var(--dark-green);
      opacity: 0.4;
      z-index: -1;
    }
  }

  &__title {
    h1 {
      font-size: 4.8rem;
      font-weight: 700;
      color: var(--white);
      font-family: var(--secondary-font);
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      color: var(--white);
      line-height: 3.2rem;
    }
  }

  &__form {
    width: 40rem;
    height: 53.2rem;
    padding: 3rem;
    background-color: var(--white);
    border-radius: 0.5rem;

    --frdy-shadow: 0px 20px 80px rgba(0, 0, 0, 0.05);
    box-shadow: var(--frdy-ring-offset-shadow, 0 0 #0000),
      var(--frdy-ring-shadow, 0 0 #0000), var(--frdy-shadow) !important;
  }

  &__input {
    width: 100%;
    padding: 0 1.4rem;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    height: 5rem;
    border: 0.1rem solid var(--medium-gray);
    background-color: var(--light-gray);
    outline-color: var(--primary);
    font-size: 1.8rem;
  }

  &__label {
    font-size: 1.8rem;
    color: var(--gray);
  }

  &__type {
    display: flex;
    column-gap: 2rem;
  }
}

.section {
  margin: 10rem 0;
}

.section-package {
  &__title {
    text-align: center;
    margin-bottom: 7rem;

    h5 {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--orange);
    }

    h3 {
      font-size: 3.6rem;
      font-weight: 700;
      font-family: var(--secondary-font);
    }
  }

  &__content {
    display: flex;
    column-gap: 4rem;
    justify-content: center;
  }

  &__item {
    height: 40rem;
    width: 28.5rem;
    border-radius: 0.5rem;
    position: relative;
    background: linear-gradient(
      180.11deg,
      rgba(0, 0, 0, 0) 53.49%,
      rgba(0, 0, 0, 0.75) 99.9%
    );

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      position: absolute;
      z-index: -1;
    }
  }

  &__description {
    z-index: 10;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: var(--white);

    h5 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    span {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

.section-feature {
  margin: 0 auto;
  height: 100rem;
  padding: 16rem 15.5rem;
  background-color: var(--secondary);

  &__wrapper {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    column-gap: 9rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__img {
    width: 46.4rem;
    height: 54rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
  }

  &__title {
    margin-bottom: 8.7rem;

    h5 {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--orange);
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 3.6rem;
      font-family: var(--secondary-font);
      font-weight: 700;
      line-height: 5.5rem;
    }
  }

  &__testimonial {
    position: relative;
    color: var(--dark-gray);
    margin-left: 6.3rem;
    font-size: 2.2rem;
    line-height: 4.2rem;
    margin-bottom: 10rem;
    z-index: 10;

    &::after {
      content: '';
      position: absolute;
      left: -5rem;
      top: -3rem;
      background-color: var(--double-quote);
      background-image: url('../images/doublequote.svg');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &__people {
    margin-top: 2rem;
    display: flex;

    img {
      width: 5rem;
      height: 5rem;
      margin-right: 1.6rem;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    line-height: 1.2;

    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 0.8rem;
      color: var(--dark-green);
    }

    span {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__clients {
    display: flex;
  }

  &__logo {
    height: 4rem;
    margin-right: 4rem;
  }
}

.footer {
  background-color: var(--footer-color);
  height: 42rem;
  position: relative;
  padding: 8rem 0;

  &__subscribe {
    display: flex;
    position: absolute;
    width: 83rem;
    height: 12rem;
    top: 0;
    right: 14rem;
    padding: 3.1rem 3.5rem;
    border-radius: 0.5rem;
    transform: translateY(-50%);
    background-color: var(--white);

    --frdy-shadow: 0px 20px 80px rgba(0, 0, 0, 0.05);
    box-shadow: var(--frdy-ring-offset-shadow, 0 0 #0000),
      var(--frdy-ring-shadow, 0 0 #0000), var(--frdy-shadow) !important;
  }

  &__discount {
    width: 40%;
    h3 {
      font-size: 2.4rem;
      font-weight: bold;
      margin-bottom: 1rem;
      font-family: var(--secondary-font);
    }

    span {
      font-size: 1.6rem;
      color: var(--gray);
    }
  }

  &__button {
    width: 60%;
    display: flex;

    input {
      width: 100%;
      height: 5rem;
      padding: 1.4rem;
      font-size: 1.8rem;
      border: 1px solid var(--medium-gray);
      background-color: var(--light-gray);
      border-radius: 0.5rem;
      outline-color: var(--primary);
      position: relative;
    }
  }

  &__content {
    display: grid;
    column-gap: 10rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  &__item {
    color: var(--white);
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 2.7rem;
      height: 5rem;
      width: 5rem;
    }

    span {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }

    ul {
      list-style: none;

      li {
        font-size: 1.8rem;
        font-weight: 300;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
